<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
{{ attach_library('mytheme/navbar') }}

    <header class="header"> 
        {{ page.header }}  
        <nav class="menu">
            {{ page.menu }}
        </nav> 
        <div class="block-banner1">
            <p>Custom Theme </p>
        </div>

    </header> 

    <main class="main"> 
        <div class="content" style="width:100%">
            {{ page.content }}
        </div> 
        {% if page.sidebar %}
        <div class="sidebar"> 
            {{ page.sidebar }}
        </div> 
        {% endif %} 
    </main>

    <footer>
        {{ page.footer }}
    </footer>

</body>

</html>
